.body {
    margin-top: 0%;
    margin-left: 0%;
}
/* clases del Header */
.container-header {
    background-color: #5F5F2D; 
    position: fixed;
    width: 100%; 
}
.container-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    list-style-type: none;
    margin: 0; 
    
}
/*grid*/
.logo {
    grid-area: 1 / 1 / 4 / 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link1 {
    grid-area: 2 / 2 / 3 /3;
    align-self: center;
    justify-self: center;
    
    
}

.link2 {
    grid-area: 2 / 3 / 3 / 4;
    align-self: center;
    justify-self: center;
}

.link3 {
    grid-area: -3 / -3 / -2 / -2;
    align-self: center;
    justify-self: center;
}

.link4 {
    grid-area: -3/ -2 / -2 / -1;
    align-self: center;
    justify-self: center;
}
/* Fin Grid */
.logoHeader {
    border-radius: 8px;
}
.headerLinks {
    font-family: 'Finlandica', sans-serif;
    text-decoration: none;
    color: #E0E0E0;
    font-size: 35px;
}
.headerLinks:hover {
    text-decoration: underline;
    font-size: 40px;
}
