.body {
    margin-top: 0%;
    margin-left: 0%;
    background-color:#E8D2A5;
    background-image:url(/img/Otros/FondodelHeader.png);
    background-repeat:no-repeat;
    background-position: right 155px;
    background-attachment:fixed;
    
}
/* clases del Header */
.container-header {
    background-color: #5F5F2D;
    position: fixed;
    top: 0;
    width: 100%; 
}
.container-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    list-style-type: none;
    margin: 0; 
    
}
/*grid*/
.logo {
    grid-area: 1 / 1 / 4 / 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link1 {
    grid-area: 2 / 2 / 3 /3;
    align-self: center;
    justify-self: center;  
}

.link2 {
    grid-area: 2 / 3 / 3 / 4;
    align-self: center;
    justify-self: center;
}

.link3 {
    grid-area: -3 / -3 / -2 / -2;
    align-self: center;
    justify-self: center;
}

.link4 {
    grid-area: -3/ -2 / -2 / -1;
    align-self: center;
    justify-self: center;
}
/* Fin Grid */
.logoHeader {
    border-radius: 8px;
}
.headerLinks {
    font-family: 'Finlandica', sans-serif;
    text-decoration: none;
    color: #E8D2A5;
    font-size: 35px;
}
.headerLinks:hover {
    text-decoration: underline;
    color: #e0e0e0;
    font-size: 40px;
}

/* clases del Main */

/*section 1*/
.h1 {
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    text-decoration: underline;
    color: #614827;
}
.p-titulo {
    font-family: 'Cormorant Infant', serif;
    font-size: 40px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 150px;
    color: #987347;  
}
.section1 {
    margin-top: 250px;
    text-align: center;
}

/*section 2*/
.img-s2 {
    margin-left: 350px;
    height: 500px;
    width: 500px;
    object-fit: cover;
 
}

.h3 {
    font-family: 'Do Hyeon', sans-serif;
    color: #987347;
    text-decoration: underline;
    text-align: end;
    font-size: 40px;
   
    margin-right: 500px;
}
.p {
    font-family: 'Cormorant Infant', serif;
    font-size: 35px;
    text-align: end;
}
